# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
*.exe
*.dll
*.obj
*.o
*.ilk
*.pdb
*.ipch
*.pch

# CodeBlocks IDE files
*.cbp
*.depend
*.layout

# Visual Studio user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Debug / Release folders
Debug/
Release/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# CMake build folders
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build/

# Other common files
*.log
*.tmp
*.bak
*.db
*.opendb

# OS junk files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
